.contianerboximg{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    margin: 30px 0px;
}

@media (max-width: 1024px) {
    .contianerboximg{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4,minmax(0,1fr));
    }
}

.contianerboximg a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: #62666D;
}
.contianerboximg a img{
    width: 52px;
    height: 52px;
}

.contianerboximg a div{
    width: 52px;
    height: 52px;
    border: 0;
    border-radius: 50%;
    background-color: #f0f0f1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #a1a3a8; 
}

.boxsuper a{
    background-color: #e4e4e4;;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:10px  auto;
    border-radius: 20px;
    padding: 15px 30px;
}
@media (max-width: 1195px) {
    .boxsuper a{
        flex-direction: column;
        gap: 15px;
    }
}

.boxsuper a .supertiter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.boxsuper a .supertiter span{
    background-color: rgb(0, 179, 0);
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
}

@media (max-width: 1339px) {
    .boxsuper a .supertiter span{
        display: none;
    }
}

.superproduct{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.superproduct div{
    position: relative;
    width: 74px;
    height: 74px;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}

.superproduct div img{
    width: 100%;
}

.superproduct span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px 15px;
    gap: 8px;
    border-radius: 20px;
    color: rgb(0, 206, 0);
}

.superproduct div span{
    background-color: #ef4056;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 2px 5px;
    font-size: smaller;
}

.boxflex{
    width: 100%;
    overflow: hidden;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.boxflex div{
    width: 22% ;
}

@media (max-width: 1024px) {
    .boxflex div{
        width: calc(70% / 2);;
    }
}

.boxflex img{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.categoryDigikala{
    width: 85%;
    margin: 30px auto;
    max-width: 90%;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.categoryDigikala a{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: small;
    margin-bottom: 20px;
    font-weight: bolder;
}

.categoryDigikala a img{
    width: 100%;
}

.BoxNounProduct{
    width: 85%;
    /* width: 77rem; */
    margin: auto;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.BoxNounProduct a{
    text-align: center;
    flex-grow: 1;
    width: 11rem ;
    height: 180px;
    padding: 40px;
    box-shadow: rgba(114, 114, 114, 0.02) 0px 1px 3px 0px, rgba(101, 102, 106, 0.15) 0px 0px 0px 1px;
}

.BoxNounProduct a div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.BoxNounProduct a div span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    color: #0c0c0c;
}

.BoxNounProduct a div img{
    width: 80px;
    height: 80px;
}

.BoxNounProduct a img{
    width: 100%;
}

.contianerLogoBrand{
    margin: 50px auto;
    padding: 30px;
    width: 85%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
}

.contianerLogoBrand a{
    padding: 15px;
}

.contianerLogoBrand a img{
    width: 100%;
}

.contianerYourvisits{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
}
.contianerYourvisits .BoxYourvisits{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 20px;
}

.contianerYourvisits .BoxYourvisits .BoxYourvisitsimg{
    width: 100%;
}

.contianerYourvisits .BoxYourvisits .BoxYourvisitsimg img{
    width: 50%;
    padding: 10px;
}

.contianerYourvisits .BoxYourvisits button{
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #19bfd3;
    font-size:medium;
}

.contianerYourvisits .BoxYourvisits span{
    color: #81858b;
    font-size: 15px;
}

.contianerYourvisits .BoxYourvisits h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}

.contianerDigiPlus{
    width: 85%;
    height: auto;
    background-color: #941b80;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

@media (max-width: 1024px) {
    .contianerDigiPlus{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.contianerDigiPlus div:nth-child(2){
    border-radius: 0px 15px 15px 0px;
}

@media (max-width: 1024px) {
    .contianerDigiPlus div:nth-child(2){
        border-radius: 15px;
    }
}


.contianerDigiPlus div:nth-child(3){
    border-radius: 15px 0px 0px 15px;
}

@media (max-width: 1024px) {
    .contianerDigiPlus div:nth-child(3){
        border-radius: 15px;
    }
}

.contianerDigiPlus .BoxDigiPlus{
    width: 30%;
    height: 100%;
    background-image: url("https://www.digikala.com/statics/img/png/digiplus/plus-widget.png");
    background-size: contain;
    background-position:0 100% ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    gap: 15px;
    padding: 20px;
}

@media (max-width: 1024px) {
    .contianerDigiPlus .BoxDigiPlus{
        width: 100%;
    }
}

.contianerDigiPlus .BoxDigiPlus p{
    color: white;
    font-size: 17px;
}

.contianerDigiPlus .BoxDigiPlus a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 7px 20px;
    border: 2px solid white;
    background-color: #941b80;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}

.contianerDigiPlus .BoxDigiPlus a svg{
    font-size: 20px;
}

.contianerDigiPlus .BoxDigiPlusProduct{
    background-color: white;
    height: 100%;
    width: 35%;
    padding: 20px 20px;
}

@media (max-width: 1024px) {
    .contianerDigiPlus .BoxDigiPlusProduct{
        width: 100%;
        border-radius: 15px;
    }
}

.contianerDigiPlus .BoxDigiPlusProduct .BoxDigiPlusProductimg {
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.contianerDigiPlus .BoxDigiPlusProduct .BoxDigiPlusProductimg div{
    position: relative;
    width: 30%;
    cursor: pointer;
    text-align: center;
}

.contianerDigiPlus .BoxDigiPlusProduct .BoxDigiPlusProductimg div img{
    width: 100%;
}

@media (max-width: 1024px) {
    .contianerDigiPlus .BoxDigiPlusProduct .BoxDigiPlusProductimg div img{
        width: 60%;
        border-radius: 15px;
    }
}

.contianerDigiPlus .BoxDigiPlusProduct .BoxDigiPlusProductimg div span{
    background-color: white;
    color: #941b80;
    padding: 5px 15px;
    border-radius: 30px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 11px;
}

@media (max-width: 1024px) {
    .contianerDigiPlus .BoxDigiPlusProduct .BoxDigiPlusProductimg div span{
        font-size: 9px;
        padding: 5px 10px;
    }
}

.contianerDigiPlus .BoxDigiPlusProduct .BoxDigiPlusProductTiter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contianerDigiPlus .BoxDigiPlusProduct .BoxDigiPlusProductTiter a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.contianerDigiPlus .BoxDigiPlusProduct .BoxDigiPlusProductTiter span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 20px;
}

.contianerDigiPlus .BoxDigiPlusProduct .BoxDigiPlusProductTiter span svg{
    color: #941b80;
    font-size: 25px;
}

.contianerDigiClub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 85%;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(76.02deg,#35a6c8 33.32%,#007295 71.55%),radial-gradient(21.29% 87.33% at 50% 50.67%,#7cf2f6 0,#35a6c8 100%);
}

@media (max-width: 1024px) {
    .contianerDigiClub{
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 15px;
    }
}

.contianerDigiClub .BoxDigiClub{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70%;
    height: auto;
}

@media (max-width: 1024px) {
    .contianerDigiClub .BoxDigiClub{
       width: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-direction: row;
       gap: 15px;
    }
}

.contianerDigiClub .BoxDigiClub div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: black;
    position: relative;
}

@media (max-width: 1024px) {
    .contianerDigiClub .BoxDigiClub div{
       flex-direction: column;
       gap: 15px;
       height: auto;
       margin-bottom: 15px;
    }
}

.contianerDigiClub .BoxDigiClub div img{
    width: 50%;
    height: 100%;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .contianerDigiClub .BoxDigiClub div img{
      width: 100%;
      height: 50%;
    }
}

.contianerDigiClub .BoxDigiClub div span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin: 0px 10px;
}

.contianerDigiClub .BoxDigiClub div span svg{
    color: #19bfd3;
    font-size: 20px;
}


.OfferProduct{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    margin: 30px 110px;
    border-radius: 15px;
    padding: 30px 0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.OfferProduct .BoxOfferProduct{
    position: relative;
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.OfferProduct .BoxOfferProduct a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    padding: 10px 0px ;
    width: 208px;
}

.OfferProduct .BoxOfferProduct a div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 20px;
}

.OfferProduct .BoxOfferProduct a p{
    font-size: 13px;
    color: #c0c2c5;
    text-decoration: line-through;
    font-family: sans-serif;
    margin-right: 80px;
}

.OfferProduct .BoxOfferProduct a img{
    padding: 15px;
    width: 100%;
}

.contianerProduct .boxproduct a div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 20px;
}

.BoxReading{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin: 30px 110px;
    gap: 15px;
    margin-top: 60px;
}

.BoxReading a{
    overflow: hidden;
    width: 25%;
    height: 300px;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.BoxReading a img{
    width: 100%;
}

.BoxReading a p{
    margin: 10px;
    font-size: 15px;
    color: #0c0c0c;
}

.contianerLogoBrand .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
.contianerLogoBrand .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: calc((100% - 30px) / 2) !important;
    width: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.contianerLogoBrand .swiper-wrapper{
    align-items: center;
}

.contianerLogoBrand .swiper-scrollbar{
    display: none;
}

.contianerLogoBrand .swiper-button-prev{
    cursor: pointer;
    background-color: white;
    transition: 0.5s ease-in-out;
    border-radius: 50%;
    padding: 10px 20px;
    padding-top:12px;
    font-size: 20px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.contianerLogoBrand .swiper-button-prev::after{
    font-size: 20px;
    font-weight: 800;
    line-height: 50%;
}

.contianerLogoBrand .swiper-button-next{
    cursor: pointer;
    background-color: white;
    transition: 0.5s ease-in-out;
    border-radius: 50%;
    padding: 10px 20px;
    padding-top:12px;
    font-size: 20px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.contianerLogoBrand .swiper-button-next::after{
    font-size: 20px;
    font-weight: 800;
    line-height: 50%;
}